<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943728787619-kqrig1qrttst5o0kg9dor2ukio3tvb0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943728787619-kqrig1qrttst5o0kg9dor2ukio3tvb0r</string>
	<key>API_KEY</key>
	<string>AIzaSyCh39CwHAUoHMXMWrq4NSC9D1qoGxj7UjE</string>
	<key>GCM_SENDER_ID</key>
	<string>943728787619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangbong.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-f4270</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-f4270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943728787619:ios:e3ceb7a6cf442e6a593f16</string>
</dict>
</plist>